%h1 the Similar Movies page for "#{@director}"


%table#movies
  %thead
    %tr
      %th Title
      %th Rating
      %th Release Date
      %th Director
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= movie.director

= link_to 'Back to movie list', movies_path
